'.source.sigma':
  editor:
    commentStart: ';'
    increaseIndentPattern: '^.*\\(.*[^)"]$'
  'bracket-matcher':
    autocompleteCharacters: [
      '()'
      '[]'
      '{}'
      '<>'
      '\"\"'
    ]
